<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\activeservers.in\tmp" />
  </system.web>
  
  
 
     <system.webServer>
        <defaultDocument enabled="true"><files><clear /> <add value="services.asp" /><add value="services.php" /><add value="Default.asp" /><add value="index.htm" /><add value="index.html" /><add value="index.php" /><add value="default.aspx" /><add value="index.asp" /><add value="index.aspx" /></files></defaultDocument>
    </system.webServer>
</configuration>