<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.web>
  <compilation debug="true" />
    <globalization culture="en-IN" uiCulture="en-IN" />
   
    <customErrors mode="Off" />
<authentication mode="Forms" />
  </system.web>
  <system.webServer>
  
 
 <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="100.00:00:00" />
	  <!-- Add this -->
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <caching>
      <profiles>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".sitemap" />
                    <remove fileExtension=".cs" />
                    <remove fileExtension=".config" />
                    <remove fileExtension=".master" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="404" />
                </add>
            </traceFailedRequests>
        </tracing>
        <httpRedirect enabled="false" destination="https://activeseervers.in" />
        
 
  </system.webServer>
</configuration>